name: 06-DL-Y
on: 
  workflow_dispatch:
    inputs:
      url:
        required: true
        description: Youtube URL
      name:
        required: true
        description: Channel name
      audioOnly:
        type: boolean
        description: DL Audio-only
        default: true
jobs:
  ytarchive:
    runs-on: ubuntu-latest
    environment: 
      name: ${{github.event.inputs.name}}
      url: ${{github.event.inputs.url}}
    steps:
    - uses: actions/checkout@v2
    - name: Installing
      run : |
        sudo apt update
        sudo wget -q 'https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-linux64-gpl.tar.xz'
        sudo tar xvf ffmpeg-master-latest-linux64-gpl.tar.xz
        sudo chmod +x ffmpeg-master-latest-linux64-gpl/bin/ffmpeg ffmpeg-master-latest-linux64-gpl/bin/ffprobe
        sudo mv ffmpeg-master-latest-linux64-gpl/bin/ffmpeg ffmpeg-master-latest-linux64-gpl/bin/ffprobe /usr/local/bin/
        sudo rm -rf ffmpeg-master-latest-linux64-gpl ffmpeg-master-latest-linux64-gpl.tar.xz
        sudo chmod +x ytarchive
        sudo cp ytarchive /usr/local/bin/ytarchive
        sudo chmod +x go-ul
        sudo cp go-ul /usr/local/bin/go-ul
        sudo rm output/.gitkeep DL/.gitkeep UL/.gitkeep
        echo ${{github.event.inputs.name}} ${{github.event.inputs.url}} > output/link.txt
    - name: Downloading ${{github.event.inputs.name}} ${{github.event.inputs.url}}
      timeout-minutes: 360
      if: ${{github.event.inputs.audioOnly == 'false'}}
      run: ytarchive -v -w -t -o "DL/[%(upload_date)s] %(id)s" --add-metadata --separate-audio --threads 8 "${{github.event.inputs.url}}" best
    - name: Downloading Audio-only
      if: ${{github.event.inputs.audioOnly == 'true'}}
      run: ytarchive -v -w -t -o "DL/[%(upload_date)s] %(id)s" --add-metadata --threads 8 "${{github.event.inputs.url}}" audio_only
    - name: Uploading ftp
      if: ${{github.event.inputs.audioOnly == 'false'}}
      timeout-minutes: 240
      env:
        VOE_FTP: ${{ secrets.VOE_FTP }}
      run: |
        go-ul ftp -d 'DL/' -r -u '${{ env.VOE_FTP }}/YouTube/${{github.event.inputs.name}}' -O -o output/link.txt
    - name: Uploading
      timeout-minutes: 240
      env:
        VOE_FTP: ${{ secrets.VOE_FTP }}
      run: |
        go-ul pixeldrain gofile anonfiles catbox -d 'DL/' -r -o output/link.txt
        mv output/link.txt "output/${{github.event.inputs.name}}-$(echo '${{github.event.inputs.url}}' | tail -c 12)-[06Y].txt"
    - name: Upload link ${{github.event.inputs.name}}s Videos
      uses: actions/upload-artifact@v3
      with:
        name: ${{github.event.inputs.name}}
        path: output/*.txt
    - name: Send file to discord
      uses: sinshutu/upload-to-discord@master
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_YT }}
      with:
        args: output/*.txt
